<section id="wrapper" class="error-page">
  <div class="error-box">
    <div class="error-body text-center">
      <h1 *ngIf="typeError === 'no-encontrado'">404</h1>
      <h3 *ngIf="typeError === 'no-encontrado'" class="text-uppercase">NO ENCONTRADO</h3>
      <h1 *ngIf="typeError === 'no-autorizado'">401</h1>
      <h3 *ngIf="typeError === 'no-autorizado'" class="text-uppercase">NO AUTORIZADO</h3>
      <h1 *ngIf="typeError === 'error-servidor'">500</h1>
      <h3 *ngIf="typeError === 'error-servidor'" class="text-uppercase">ERROR DEL SERVIDOR</h3>
      <h3 *ngIf="typeError === ''" class="text-uppercase">ERROR</h3>
      <a (click)="goToBack()" class="btn btn-info btn-rounded waves-effect waves-light m-b-40 text-white">Regresar</a>
      <a (click)="goToBack()" class="btn btn-info btn-rounded waves-effect waves-light m-b-40 text-white">Regresar al
        home</a>
    </div>
    <footer class="footer text-center">© 2022 MultiServicios S.A.</footer>
  </div>
</section>
