<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <div class="row">
          <div class="col-4 border">
            <div class="chart-container">

            </div>        
          </div>
          <div class="col-4 border">
            <div class="chart-container">

            </div>        
          </div>
          <div class="col-4 border">
            <div class="chart-container">
              <ngx-charts-bar-vertical
                [scheme]="colorScheme"
                [results]="minMaxChart"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
              >
              </ngx-charts-bar-vertical>
            </div>        
          </div>
        </div>

        <div class="row mt-5">
          <!-- ADD BUTTON -->
          <div class="col-1">
            <div class="row">
              <button class="waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"
                data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
                <i class="mdi mdi-plus"></i>
              </button>
            </div>
          </div>
          <!-- /ADD BUTTON -->

          <!-- INPUT SEARCH -->
          <div class="col-11">
            <input type="text" class="form-control" name="filterName" placeholder="Buscador" [(ngModel)]="filter">
          </div>
          <!-- /INPUT SEARCH -->
        </div>

      </div>
    </div>
  </div>
</div>