<h1>Nav</h1>
<ul>
  <li><a routerLink="home">Home</a></li>
  <!-- <li> -->
      <li *ngIf="serviceInfo">
    <button (click)="checkLogin()">Cuenta</button>
  </li>
  <li *ngIf="loggedIn">
    <button (click)="login()">Iniciar Sesión</button>
  </li>
  <!-- <li>
    <button (click)="login()" *ngIf="!loggedIn; else log">Iniciar Sesión</button>
    <ng-template #log>
      <button (click)="logout()">Cerrar Sesión</button>
    </ng-template>
  </li> -->
</ul>

<!-- <button (click)="checkLog()">Logged</button> -->
<router-outlet></router-outlet>
