<section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/images/background/Fondo.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <!-- LOGO -->
            <a href="javascript:void(0)" class="text-center db">
                <img src="../assets/images/logos/LogoMultiServicios.jpg" width="100" height="100"/>
                <br />
                <!-- <img src="../assets/images/logos/logo-fondo-negro-letras-blancas-redondo.png"/> -->
            </a>

            <!-- REDIRECT -->
            <div class="form-group text-center m-t-20">
                <div class="col-xs-12">
                    <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" type="submit" (click)="login()">INGRESAR AL PORTAL</button>
                </div>
            </div>
        </div>
    </div>
</section>
