<div class="row">
  <div class="col-12">
    <div class="card padre">
      <div class="card-body" *ngIf="loading">
        <div class="row">
          <div class="col-12 text-center">
            <h1>EQUIPOS</h1>
          </div>
        </div>
        <div class="row mt-3">
          <!-- ADD BUTTON -->
          <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"
            data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
            <i class="mdi mdi-plus"></i>
          </button>
          <!-- /ADD BUTTON -->
          <!-- INPUT SEARCH -->
          <div class="col-11">
            <input type="text" class="form-control" name="filterName" placeholder="Buscador">
          </div>
          <!-- /INPUT SEARCH -->
        </div>
        <loader></loader>
      </div>
      <div class="card-body" *ngIf="!loading">
        <div class="row">
          <div class="col-12 text-center">
            <h1>EQUIPOS</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-4 border">
            <div class="chart-container text-center">
              <h3>Inactivos y Activos</h3>
              <ngx-charts-pie-chart [scheme]="colorScheme" [results]="activeInactiveChart" [gradient]="gradient"
                [labels]="showLabels" [doughnut]="isDoughnut">
              </ngx-charts-pie-chart>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 border">
            <div class="chart-container text-center">
              <h4>Servicios Mínimo-Máximo</h4>
              <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="chartMinMax" [gradient]="gradient"
                [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel" [yAxisLabel]="yAxisLabel">
              </ngx-charts-bar-vertical>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 border">
            <div class="chart-container text-center">
              <h3>Pendientes y Finalizados</h3>
              <ngx-charts-pie-chart [scheme]="colorScheme" [results]="endStartedServicesChart" [gradient]="gradient"
                [labels]="showLabels" [doughnut]="isDoughnut">
              </ngx-charts-pie-chart>
            </div>
          </div>

        </div>
        <div class="row mt-3">
          <!-- INPUT SEARCH -->
          <div class="col-12">
            <input type="text" class="form-control" name="filterName" placeholder="Buscador" [(ngModel)]="filter">
          </div>
          <!-- /INPUT SEARCH -->
        </div>

        <!-- CARD -->
        <div class="row mt-3">
          <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let equipo of equipos | filterEquipment:filter">
            <div class="card card-outline-info card-height" (click)="openModalByEquipment(equipo)" data-toggle="modal"
              data-target="#exampleModal" data-whatever="@mdo">
              <div class="card-header bg-dark">
              </div>
              <div class="card-body border">
                <div class="row">
                  <div class="col-10">
                    <h3 class="card-title text-dark">
                      {{ equipo.nombre }}
                    </h3>
                    <p class="card-title">{{ equipo.modelo }}</p>
                    <p class="card-title">{{ state(equipo.estado) }}</p>
                  </div>
                  <div class="col-2 vh-100 d-flex justify-content-center align-items-center">
                    <i class="mdi mdi-stove"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /CARD -->
        <!-- MODAL -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Equipo</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">

                <label for="recipient-name" class="control-label">Nombre</label>
                <input type="text" class="form-control" id="recipient-name1" [value]="equipo?.nombre" readonly>
                <label for="recipient-name" class="control-label">Modelo</label>
                <input type="text" class="form-control" id="recipient-name1" [value]="equipo?.modelo" readonly>
                <form [formGroup]="equipmentForm">
                  <div class="form-group">
                    <label for="recipient-name" class="control-label">Estado</label>
                    <select class="form-control custom-select" formControlName="estado">
                      <option *ngFor="let l of list" [value]="l.value">
                        {{ l.estado }}</option>
                    </select>
                  </div>
                </form>
                <label for="recipient-name" class="control-label">Periodo del servicio</label>
                <input type="number" class="form-control" id="recipient-name1" [value]="equipo?.periodoDeServicio"
                  readonly>
                <label for="recipient-name" class="control-label">Fecha último sevicio</label>
                <input type="text" class="form-control" id="recipient-name1" [value]="equipo ? parseDate(equipo.fechaUltimoServicio) : 'No ingresada'"
                  readonly>
                <label for="message-text" class="control-label">Ubicación</label>
                <input type="text" class="form-control" id="recipient-name1" [value]="department" readonly>
                <input type="text" class="form-control mt-3" id="recipient-name1" [value]="direction" readonly>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="!newEquipment"
                  (click)="editEquipmentForm()">Editar</button>
              </div>
            </div>
          </div>
        </div>
        <!-- /MODAL -->
      </div>
    </div>
  </div>
</div>
