<h1>Equipos Cliente</h1>
<h3 *ngIf="loadingMain">Cargando</h3>
<!-- INPUT SEARCH -->
<div>
  <input type="text" class="form-control" name="filterName" placeholder="Buscador" [(ngModel)]="filter">
</div>
<h3 *ngIf="loadingGraphic1">Cargando gráfica 1 </h3>
<div *ngIf="cantidadServiciosFinPen">
  <h3>Gráfica de servicios finalizados y pendientes</h3>
  <p>Finalizados cantidad: {{cantidadServiciosFinPen.finalizados}}</p>
  <p>Pendientes cantidad: {{cantidadServiciosFinPen.pendientes}}</p>
</div>
<h3 *ngIf="loadingGraphic2">Cargando gráfica 2 </h3>
<div *ngIf="cantidadActivoInactivo[0] && cantidadActivoInactivo[1]">
  <h3>Gráfica de Equipos Activos Inactivos</h3>
  <p>Inactivos {{cantidadActivoInactivo[1].estado}} Cantidad: {{cantidadActivoInactivo[1].cantidad}}</p>
  <p>Activos {{cantidadActivoInactivo[0].estado}} Cantidad: {{cantidadActivoInactivo[0].cantidad}}</p>
</div>
<h3 *ngIf="loadingGraphic3">Cargando gráfica 3 </h3>
<div *ngIf="equiposMaxMin">
  <h3>Gráfica de equipos con mayor y menor cantidad de servicios</h3>
  <h4>Mayor Cantidad</h4>
  <h3>Equipo</h3>
  <p>Id: {{equiposMaxMin.equipmentMax.idEquipo}}</p>
  <p>Numero: {{equiposMaxMin.equipmentMax.nombre}}</p>
  <p>Modelo: {{equiposMaxMin.equipmentMax.modelo}}</p>
  <p>Estado: {{equiposMaxMin.equipmentMax.estado}}</p>
  <p>Fecha de último servicio: {{equiposMaxMin.equipmentMax.fechaUltimoServicio}}</p>
  <p>Plazo del servicio: {{equiposMaxMin.equipmentMax.periodoDeServicio}}</p>
  <p>Servicio preventivo Activo: {{equiposMaxMin.equipmentMax.preventivoActivo}}</p>
  <p>Id Direccion: {{equiposMaxMin.equipmentMax.idDireccion}}</p>
  <p>Id Persona: {{equiposMaxMin.equipmentMax.idPersona}}</p>
  <h5>Cantidad: {{equiposMaxMin.equipmentMax.cantidad}}</h5>
  <h4>Menor Cantidad</h4>
  <h3>Equipo</h3>
  <p>Id: {{equiposMaxMin.equipmentMin.idEquipo}}</p>
  <p>Numero: {{equiposMaxMin.equipmentMin.nombre}}</p>
  <p>Modelo: {{equiposMaxMin.equipmentMin.modelo}}</p>
  <p>Estado: {{equiposMaxMin.equipmentMin.estado}}</p>
  <p>Fecha de último servicio: {{equiposMaxMin.equipmentMin.fechaUltimoServicio}}</p>
  <p>Plazo del servicio: {{equiposMaxMin.equipmentMin.periodoDeServicio}}</p>
  <p>Servicio preventivo Activo: {{equiposMaxMin.equipmentMin.preventivoActivo}}</p>
  <p>Id Direccion: {{equiposMaxMin.equipmentMin.idDireccion}}</p>
  <p>Id Persona: {{equiposMaxMin.equipmentMin.idPersona}}</p>
  <h5>Cantidad: {{equiposMaxMin.equipmentMin.cantidad}}</h5>
</div>
<div *ngFor="let equipo of equipos | filterEquipment:filter; let indice=index">
  <h3>Equipo</h3>
  <p>Indice: {{++indice}}</p>
  <p>Id: {{equipo.idEquipo}}</p>
  <p>Numero: {{equipo.nombre}}</p>
  <p>Modelo: {{equipo.modelo}}</p>
  <p>Estado: {{equipo.estado}}</p>
  <p>Fecha de último servicio: {{equipo.fechaUltimoServicio}}</p>
  <p>Plazo del servicio: {{equipo.periodoDeServicio}}</p>
  <p>Servicio preventivo Activo: {{equipo.preventivoActivo}}</p>
  <h4>Ubicación</h4>
  <div *ngIf="equipo.Direccion; else nullDirection">
    <p>Dirección: {{equipo.Direccion.direccion}}</p>
    <p>{{equipo.Direccion.Municipio ? 'Municipio:  ' + equipo.Direccion.Municipio.nombre : 'No ingresado.'}}</p>
    <p>
      {{equipo.Direccion.Municipio && equipo.Direccion.Municipio.Departamento ? 'Departamento: ' + equipo.Direccion.Municipio.Departamento.nombre : 'No ingresado.'}}
    </p>
    <p>
      {{equipo.Direccion.Municipio && equipo.Direccion.Municipio.Departamento && equipo.Direccion.Municipio.Departamento.Pais ? 'Pais: ' + equipo.Direccion.Municipio.Departamento.Pais.nombre : 'No ingresado.'}}
    </p>
  </div>
  <ng-template #nullDirection>
    <p>No ingresada.</p>
  </ng-template>
  <!-- <div *ngIf="equipo.Servicio">
    <div *ngFor="let servicio of equipo.Servicio as ServicioCliente; let indice=index">
      <p>Indice: {{++indice}}</p>
      <h3>Servicio</h3>
      <p>Id: {{servicio.idServicio}}</p>
      <div *ngIf="servicio.fechaHoraRealizar; else noDate">
        <p>Fecha y hora a realizar: {{servicio.fechaHoraRealizar}}</p>
      </div>
      <ng-template #noDate>
        <p>Fecha y hora a realizar: Sin fecha</p>
      </ng-template>
      <p>Fecha Creado: {{servicio.fechaCreado}}</p>
      <div *ngIf="servicio.fechaFinalizado; else noDateFinished">
        <p>Fecha Finalizado: {{servicio.fechaFinalizado}}</p>
      </div>
      <ng-template #noDateFinished>
        <p>Fecha Finalizado: Sin fecha</p>
      </ng-template>
      <p>Estado: {{servicio.estado}}</p>
      <p>Prioridad: {{servicio.prioridad}}</p>
      <div *ngIf="servicio.fechaHoraAsignadoTrabajador; else noDateAsigned">
        <p>Fecha hora asignado trabajador: {{servicio.fechaHoraAsignadoTrabajador}}</p>
      </div>
      <ng-template #noDateAsigned>
        <p>Fecha hora asignado trabajador: Sin fecha</p>
      </ng-template>
      <h3>Tipo de servicio</h3>
      <p>Tipo: {{servicio.Tipo_Servicio ? servicio.Tipo_Servicio.tipoServicio : 'sin tipo servicio.'}}</p>

      <h3>Trabajador</h3>
      <div *ngIf="servicio.Trabajador; else noWorker">
        <p>Id: {{servicio.Trabajador.idPersona}}</p>
        <p>Nombre: {{servicio.Trabajador.nombre}}</p>
        <p>Apellido: {{servicio.Trabajador.apellidos}}</p>
        <p>Correo: {{servicio.Trabajador.correo}}</p>
        <p>Dpi: {{servicio.Trabajador.dpi}}</p>
        <h4>Tipo Persona</h4>
      </div>
      <ng-template #noWorker>
        <p>No asignado</p>
      </ng-template>
    </div>
  </div> -->
  <div *ngIf="equipo.Servicio">
    <button (click)="goToServicesByIdEquipo(equipo.idEquipo)">Servicios</button>
  </div>
  <p>------------------------------------</p>
</div>
<!-- Cuando selecione uno -->
<div *ngIf="equipo">
  <h3>Selección de un solo equipo</h3>
  <p>Id: {{equipo.idEquipo}}</p>
  <p>Numero: {{equipo.nombre}}</p>
  <p>Modelo: {{equipo.modelo}}</p>
  <p>Estado: {{equipo.estado}}</p>
  <p>Fecha de último servicio: {{equipo.fechaUltimoServicio}}</p>
  <p>Plazo del servicio: {{equipo.periodoDeServicio}}</p>
  <p>Servicio preventivo Activo: {{equipo.preventivoActivo}}</p>
  <h4>Ubicación</h4>
  <div *ngIf="equipo.Direccion; else nullDirection">
    <p>Dirección: {{equipo.Direccion.direccion}}</p>
    <p>{{equipo.Direccion.Municipio ? 'Municipio:  ' + equipo.Direccion.Municipio.nombre : 'No ingresado.'}}</p>
    <p>
      {{equipo.Direccion.Municipio && equipo.Direccion.Municipio.Departamento ? 'Departamento: ' + equipo.Direccion.Municipio.Departamento.nombre : 'No ingresado.'}}
    </p>
    <p>
      {{equipo.Direccion.Municipio && equipo.Direccion.Municipio.Departamento && equipo.Direccion.Municipio.Departamento.Pais ? 'Pais: ' + equipo.Direccion.Municipio.Departamento.Pais.nombre : 'No ingresado.'}}
    </p>
  </div>
  <ng-template #nullDirection>
    <p>No ingresada.</p>
  </ng-template>
</div>
<button (click)="getOneEquipment(1)">Una Persona</button>
