<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <!-- INPUT SEARCH -->
        <div class="row">
          <div class="col-12">
            <input type="text" class="form-control" name="filterName" placeholder="Buscador" [(ngModel)]="filter">
          </div>
        </div>
        <!-- /INPUT SEARCH -->

        <!-- TABLE -->
        <div class="row mt-3">
          <div class="col-12">
            <table class="tablesaw table-striped table-hover table-bordered table" data-tablesaw-mode="columntoggle">
              <thead>
                <tr>
                  <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Estado</th>
                  <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="3">Empresa</th>
                  <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Cliente</th>
                  <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">
                    <abbr title="Rotten Tomato Rating">Prioridad</abbr>
                  </th>
                  <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">Servicio</th>
                  <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let auditoriaServicio of auditoriaServicios | filterAudit:filter">
                  <td class="title"><a class="link" href="javascript:void(0)">{{ auditoriaServicio.estado }}</a></td>
                  <td>{{ auditoriaServicio.empresaCliente }}</td>
                  <td>{{ auditoriaServicio.nombreCliente }}</td>
                  <td>{{ auditoriaServicio.prioridad }}</td>
                  <td>{{ auditoriaServicio.tipoServicio }}</td>
                  <td (click)="openModal(auditoriaServicio)"><i class="mdi mdi-chevron-right"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- /TABLE -->

      </div>
    </div>
  </div>
</div>