<div class="row">
  <div class="col-12">
    <div class="card padre">
      <div class="card-body">

        <div class="row">
          <div class="col-12 text-center">
            <h1>PAISES</h1>
          </div>
        </div>

        <div class="row mt-2">
          <!-- ADD COUNTRY BUTTON -->
          <div class="col-1">
            <div class="row">
              <button class="waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" (click)="openModalByCountry()">
                <i class="mdi mdi-plus"></i>
              </button>
            </div>
          </div>
          <!-- /ADD COUNTRY BUTTON -->

          <!-- INPUT SEARCH -->
          <div class="col-11">
            <input type="text" class="form-control" name="filterName" placeholder="Buscador" [(ngModel)]="filter">
          </div>
          <!-- /INPUT SEARCH -->
        </div>

        <div class="row mt-5">
          <!-- CARD -->
          <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let pais of paises | filterNameCode:filter">
            <div class="card card-outline-info" (click)="openModalByCountry(pais)" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
              <div class="card-header bg-dark">
              </div>
              <div class="card-body border">
                <div class="row">
                  <div class="col-10">
                    <h3 class="card-title text-dark">{{ pais.nombre }}</h3>
                    <p class="card-text">{{ pais.codigo }}</p>
                  </div>
                  <div class="col-2 vh-100 d-flex justify-content-center align-items-center">
                    <i class="mdi mdi-flag"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /CARD -->

        </div>

        <!-- MODAL -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">País</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="countryForm">
                  <div class="form-group">
                    <label for="recipient-name" class="control-label">Nombre:</label>
                    <input type="text" class="form-control" id="recipient-name1" formControlName="nombre">

                    <div *ngIf="nameControl?.invalid && nameControl?.touched">
                      <small *ngIf="nameControl?.hasError('required')" class="text-danger">*Nombre requerido</small>
                      <small *ngIf="nameControl?.hasError('maxlength')" class="text-danger">*Máximo 20 carácteres</small>
                    </div>

                  </div>
                  <div class="form-group">
                    <label for="message-text" class="control-label">Código:</label>
                    <input type="number" class="form-control" min="0" max="999" id="recipient-name1" formControlName="codigo">

                    <div *ngIf="codeControl?.invalid && codeControl?.touched">
                      <small *ngIf="codeControl?.hasError('required')" class="text-danger">*Código requerido</small>
                    </div>

                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" *ngIf="!newCountry" (click)="deleteCountryModal()">Eliminar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="newCountry" (click)="createCountryForm()">Crear</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="!newCountry" (click)="createCountryForm()">Editar</button>
              </div>
            </div>
          </div>
        </div>

        <!-- /MODAL -->

      </div>
    </div>
  </div>
</div>
