<!-- ADD COUNTRY BUTTON -->
<div class="row page-titles">
  <div>
    <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10">
      <i class="mdi mdi-plus"></i>
    </button>
  </div>
</div>
<!-- /ADD COUNTRY BUTTON -->

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">

          <!-- CARD -->
          <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let pais of paises">
            <div class="card card-outline-info">
              <div class="card-header bg-dark">
              </div>
              <div class="card-body border">
                <div class="row">
                  <div class="col-10">
                    <h3 class="card-title text-dark">{{ pais.nombre }}</h3>
                    <p class="card-text">{{ pais.codigo }}</p>
                    <a class="btn btn-inverse text-white">Editar país</a>
                  </div>
                  <div class="col-2 vh-100 d-flex justify-content-center align-items-center">
                    <i class="flag-icon flag-icon-gt icon" title="gt" id="gt"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /CARD -->

        </div>
      </div>
    </div>
  </div>
</div>

<!-- <h1>Paises</h1>
<h3 *ngIf="loading">Cargando</h3>
<div *ngFor="let pais of paises">
  <p>Id: {{pais.idPais}}</p>
  <p>Nombre: {{pais.nombre}}</p>
  <p>Código: {{pais.codigo}}</p>
</div>
<button (click)="getOneCountry(1)">Obtener</button>
<div *ngIf="pais">
  <p>Id: {{pais.idPais}}</p>
  <p>Nombre: {{pais.nombre}}</p>
  <p>Código: {{pais.codigo}}</p>
</div> -->
