<div class="row">
  <div class="col-12">
    <div class="card padre">
      <div class="card-body" *ngIf="loading">
        <div class="row">
          <div class="col-12 text-center">
            <h1>{{title}}</h1>
          </div>
          <div class="col-12 text-center">
            <h3>EQUIPOS</h3>
          </div>
        </div>
        <div class="row mt-3">
          <!-- ADD BUTTON -->
          <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"
            data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
            <i class="mdi mdi-plus"></i>
          </button>
          <!-- /ADD BUTTON -->
          <!-- INPUT SEARCH -->
          <div class="col-11">
            <input type="text" class="form-control" name="filterName" placeholder="Buscador">
          </div>
          <!-- /INPUT SEARCH -->
        </div>
        <loader></loader>
      </div>
      <div class="card-body" *ngIf="!loading">
        <div class="row">
          <div class="col-12 text-center">
            <h1>{{title}}</h1>
          </div>
          <div class="col-12 text-center" *ngIf="showEquipments">
            <h3>EQUIPOS</h3>
          </div>
        </div>
        <div class="row" *ngIf="!showEquipments && (typeServiceUncompleted || typeServiceCompleted)">
          <div class="col-12 text-center">
            <h3>{{typeService}}</h3>
          </div>
        </div>
        <!-- GRAPHIC row style="max-height: 25%; min-height: 25%;" chart-container style="max-height: 100%; min-height:100%; max-width: 90%;"-->
        <div class="row" *ngIf="!noServices" >
          <div class="col-12 border">
            <div class="chart-container main-chart-container" >
              <ngx-charts-pie-chart  [scheme]="colorScheme" [results]="chartData" [gradient]="gradient"
                [legend]="showLegend" [labels]="showLabels" [doughnut]="isDoughnut" [legendTitle]="legendTitle">
              </ngx-charts-pie-chart>
            </div>
          </div>
        </div>
        <!-- /GRAPHIC -->
        <!-- INPUT SEARCH EQUIPENT-->
        <div class="row mt-2" *ngIf="showEquipments">
          <div class="col-12">
            <input type="text" class="form-control" name="filterName" placeholder="Buscador" [(ngModel)]="filter">
          </div>
        </div>
        <!-- /INPUT SEARCH EQUIPMENT-->

        <!-- ADD BUTTON, SEARCH, BUTTONS TYPE SERVICES-->
          <div class="row mt-2" *ngIf="!showEquipments && (typeServiceUncompleted || typeServiceCompleted)">
            <!-- INPUT SEARCH -->
            <div class="col-12">
              <input type="text" class="form-control" name="filterName" placeholder="Buscador" [(ngModel)]="filter">
            </div>
            <!-- /INPUT SEARCH -->
          </div>

        <div class="row mt-2 text-center min-with">
          <div class="col-12">
            <!-- ADD BUTTON -->
              <button *ngIf="!showEquipments" class="btn btn-inverse text-white mr-3" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" (click)="openModalByService()">
              Nuevo
            </button>
            <!-- /ADD BUTTON -->
            <button class="btn btn-inverse text-white mr-3" (click)="changeViewService()"
              *ngIf="typeServiceUncompleted && typeService != 'PENDIENTES'">Pendientes</button>
            <button class="btn btn-inverse text-white mr-3" (click)="changeViewService()"
              *ngIf="typeServiceCompleted && typeService != 'FINALIZADOS'">Completados</button>
            <button class="btn btn-inverse text-white mr-3" (click)="changeViewService(true)"
              *ngIf="!showEquipments">Equipos</button>
          </div>
          <!-- /ADD BUTTON, SEARCH, BUTTONS TYPE SERVICES-->
          <!-- CARD -->
          <div class="row mt-1 min-with" *ngIf="showEquipments">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12" *ngFor="let equipo of equipos | filterEquipment:filter">
              <div class="card card-outline-info card-height" (click)="getAllServicesByEquipment(equipo)">
                <div class="card-header bg-dark">
                </div>
                <div class="card-body border">
                  <div class="row">
                    <div class="col-10 text-left">
                      <h3 class="card-title text-dark">
                        {{ equipo.nombre }}
                      </h3>
                      <p class="card-title">{{ equipo.modelo }}</p>
                      <p class="card-title">{{ state(equipo.estado) }}</p>
                    </div>
                    <div class="col-2 vh-100 d-flex justify-content-center align-items-center">
                      <i class="mdi mdi-stove"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /CARD -->

          <!-- CARD UNCOMPLETED-->
          <div class="row mt-2 min-with" *ngIf="typeServiceUncompleted && typeService === 'PENDIENTES'">
            <div class="col-12 text-center" *ngIf="noServices">
              <h1 class="font-weight-bold">NO HAY SERVICIOS</h1>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12" id="min-with"
              *ngFor="let servicio of serviciosPendientes | filterService:filter">
              <div class="card card-outline-info card-height-services" (click)="openModalByService(servicio)" data-toggle="modal"
                data-target="#exampleModal" data-whatever="@mdo">
                <div class="card-header bg-dark">
                </div>
                <div class="card-body border">
                  <div class="row">
                    <div class="col-10 text-left">
                      <h3 class="card-title text-dark">
                        {{ servicio.Tipo_Servicio.tipoServicio }}</h3>
                      <p class="card-title">Fase: {{ servicio.estado }}</p>
                      <p class="card-title">Creado: {{ servicio.fechaCreado | date:'medium'}}</p>
                      <p class="card-title">Trabajador:
                        {{ servicio.Trabajador ? servicio.Trabajador.nombre + " " + servicio.Trabajador.apellidos : 'No ingresado'}}
                      </p>
                      <p class="card-title">Ejecutar:
                        {{ servicio.fechaHoraRealizar ? parseDate(servicio.fechaHoraRealizar) : "No ingresada" }}</p>
                    </div>
                    <div class="col-2 vh-100 d-flex justify-content-center align-items-center">
                      <i class="mdi mdi-wrench"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /CARD UNCOMPLETED-->

          <!-- CARD COMPLETED-->
          <div class="row mt-2 min-with" *ngIf="typeServiceCompleted && typeService === 'FINALIZADOS'">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12"
              *ngFor="let servicio of serviciosCompletados | filterService:filter">
              <div class="card card-outline-info card-height-services" (click)="openModalByService(servicio)" data-toggle="modal"
                data-target="#exampleModal" data-whatever="@mdo">
                <div class="card-header bg-dark">
                </div>
                <div class="card-body border">
                  <div class="row">
                    <div class="col-10 text-left">
                      <h3 class="card-title text-dark ">
                        {{ servicio.Tipo_Servicio.tipoServicio }}</h3>
                      <p class="card-title">Fase: {{ servicio.estado }}</p>
                      <p class="card-title">Creado: {{ servicio.fechaCreado | date:'medium'}}</p>
                      <p class="card-title">Trabajador:
                        {{ servicio.Trabajador ? servicio.Trabajador.nombre + " " + servicio.Trabajador.apellidos : 'No ingresado'}}
                      </p>
                      <p class="card-title">Ejecutar:
                        {{ servicio.fechaHoraRealizar ? parseDate(servicio.fechaHoraRealizar) : "No ingresada" }}</p>
                      <p class="card-title">Finalizado:
                        {{ servicio.fechaFinalizado ? parseDate(servicio.fechaFinalizado) : 'No ingresado' }}</p>
                    </div>
                    <div class="col-2 vh-100 d-flex justify-content-center align-items-center">
                      <i class="mdi mdi-wrench"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /CARD COMPLETED-->

          <!-- MODAL -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLabel1">Servicio</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                      aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body text-left">
                  <form [formGroup]="serviceForm">
                    <div *ngIf="newService; else see">
                      <div class="form-group">
                        <label for="recipient-name" class="control-label">Prioridad</label>
                        <select class="form-control custom-select" formControlName="prioridad">
                          <option *ngFor="let alter of prioridad" [value]="alter">
                            {{ alter }}</option>
                        </select>
                        <div *ngIf="prioridadServicio?.invalid && prioridadServicio?.touched">
                          <small *ngIf="prioridadServicio?.hasError('required')" class="text-danger">*Prioridad
                            requerida</small>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="message-text" class="control-label">Tipo Servicio</label>
                        <select class="form-control custom-select" formControlName="idTipoServicio">
                          <option *ngFor="let tiposervicio of tiposServicios" [value]="tiposervicio.idTipoServicio">
                            {{ tiposervicio.tipoServicio }}</option>
                        </select>
                        <div *ngIf="idTipoServicio?.invalid && idTipoServicio?.touched">
                          <small *ngIf="idTipoServicio?.hasError('required')" class="text-danger">Tipo Servicio
                            requerido</small>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="message-text" class="control-label">Equipo</label>
                        <input type="text" class="form-control" id="recipient-name1"
                          [value]="equipo ? equipo.nombre + ' ' + equipo.modelo : 'No ingresado'" readonly>
                        <div *ngIf="idEquipoF?.invalid && idEquipoF?.touched">
                          <small *ngIf="idEquipoF?.hasError('required')" class="text-danger">*Equipo requerido</small>
                        </div>
                      </div>
                    </div>
                    <ng-template #see>
                      <div class="form-group">
                        <label for="recipient-name" class="control-label">Tipo Servicio</label>
                        <input type="text" class="form-control" id="recipient-name1"
                          [value]="servicio && servicio.Tipo_Servicio ? servicio.Tipo_Servicio.tipoServicio : 'No ingresada'"
                          readonly>
                      </div>
                      <div class="form-group">
                        <label for="recipient-name" class="control-label">Prioridad</label>
                        <input type="text" class="form-control" id="recipient-name1"
                          [value]="servicio ? servicio.prioridad : 'No ingresada'" readonly>
                      </div>
                      <div class="form-group">
                        <label for="recipient-name" class="control-label">Fecha creado</label>
                        <input type="text" class="form-control" id="recipient-name1"
                          [value]="servicio && servicio.fechaCreado ? parseDate(servicio.fechaCreado) :'No ingresada'"
                          readonly>
                      </div>
                      <div class="form-group">
                        <label for="recipient-name" class="control-label">Fecha y hora Ejecución</label>
                        <input type="text" class="form-control" id="recipient-name1"
                          [value]="servicio && servicio.fechaHoraRealizar ? parseDate(servicio.fechaHoraRealizar) : 'No ingresada'"
                          readonly>
                      </div>
                      <div class="form-group">
                      <label for="message-text" class="control-label">Trabajador</label>
                      <input type="text" class="form-control" id="recipient-name1"
                        [value]="servicio && servicio.Trabajador ? servicio.Trabajador.nombre + ' ' + servicio.Trabajador.apellidos : 'No ingresado'"
                        readonly>
                      </div>
                      <div class="form-group" *ngIf="servicio && servicio.fechaFinalizado">
                        <label for="recipient-name" class="control-label">Fecha y hora Finalizado</label>
                        <input type="text" class="form-control" id="recipient-name1"
                          [value]="servicio && servicio.fechaFinalizado ? parseDate(servicio.fechaFinalizado) : 'No ingresada'"
                          readonly>
                      </div>
                      <div class="form-group" *ngIf="servicio && servicio.fechaFinalizado">
                        <label for="recipient-name" class="control-label">Observaciones</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                        formControlName="observaciones" readonly></textarea>
                      </div>
                    </ng-template>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" *ngIf="buttonDelete"
                    (click)="deleteServiceModal()">Eliminar</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="buttonClose">Cerrar</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="newService"
                    (click)="createServiceForm()">Crear</button>
                </div>
              </div>
            </div>
          </div>
          <!-- /MODAL -->
        </div>
      </div>
    </div>
  </div>
