<h1>Servicios Cliente</h1>
<h3 *ngIf="loading">Cargando</h3>
<h2>Selecciona un equipo para ver sus servicios</h2>
<div *ngIf="showEquipments">
  <!-- INPUT SEARCH EQUIPMENT -->
<div>
  <input type="text" class="form-control" name="filterName" placeholder="Buscador" [(ngModel)]="filter">
</div>
<div *ngFor="let equipo of equipos | filterEquipment:filter; let i = index">
  <p>equipo</p>
  <p>idEquipo: {{equipo.idEquipo}}</p>
  <p>numero: {{i+1}}</p>
  <p>Nombre: {{equipo.nombre}}</p>
  <p>Modelo: {{equipo.modelo}}</p>
  <button>Crear servicio</button>
  <div *ngIf="equipo.Servicio">
    <button (click)="getAllServicesWithRelations(equipo.idEquipo)">Ver servicios</button>
  </div>
</div>
</div>

<div *ngIf="showServicesByEquipment">
    <!-- INPUT SEARCH SERVICES-->
<div>
  <input type="text" class="form-control" name="filterName" placeholder="Buscador" [(ngModel)]="filter">
</div>
  <button (click)="this.idPersona ? getAllEquipment(this.idPersona) : ''">Ver todos los equipos</button>
  <h3>Servicio por equipo</h3>
  <div *ngFor="let service of servicios | filterService:filter">
    <p>Id: {{service.idServicio}}</p>
    <div *ngIf="service.fechaHoraRealizar; else noDate">
      <p>Fecha y hora a realizar: {{service.fechaHoraRealizar}}</p>
    </div>
    <ng-template #noDate>
      <p>Fecha y hora a realizar: Sin fecha</p>
    </ng-template>
    <p>Fecha Creado: {{service.fechaCreado}}</p>
    <div *ngIf="service.fechaFinalizado; else noDateFinished">
      <p>Fecha Finalizado: {{service.fechaFinalizado}}</p>
    </div>
    <ng-template #noDateFinished>
      <p>Fecha Finalizado: Sin fecha</p>
    </ng-template>
    <p>Estado: {{service.estado}}</p>
    <p>Prioridad: {{service.prioridad}}</p>
    <div *ngIf="service.fechaHoraAsignadoTrabajador; else noDateAsigned">
      <p>Fecha hora asignado trabajador: {{service.fechaHoraAsignadoTrabajador}}</p>
    </div>
    <ng-template #noDateAsigned>
      <p>Fecha hora asignado trabajador: Sin fecha</p>
    </ng-template>

    <h3>Tipo de servicio</h3>
    <p>Tipo: {{service.Tipo_Servicio ? service.Tipo_Servicio.tipoServicio : 'sin tipo servicio.'}}</p>
    <h3>Trabajador</h3>
    <div *ngIf="service.Trabajador; else noWorker">
      <p>Id: {{service.Trabajador.idPersona}}</p>
      <p>Nombre: {{service.Trabajador.nombre}}</p>
      <p>Apellido: {{service.Trabajador.apellidos}}</p>
      <p>Correo: {{service.Trabajador.correo}}</p>
      <p>Dpi: {{service.Trabajador.dpi}}</p>
    </div>
    <ng-template #noWorker>
      <p>No asignado</p>
    </ng-template>
    <button (click)="getOneService(service.idServicio)">Ver un servicio</button>
  </div>
</div>
