<h1>Empresas</h1>
<h3 *ngIf="loading">Cargando</h3>
<div *ngIf="maxMinClient[0] && maxMinClient[1]">
  <h1>Gráficas</h1>
  <h3>Empresa con mayor cantidad de clientes</h3>
  <p>Nombre: {{maxMinClient[0].empresa}}</p>
  <p>Cantidad: {{maxMinClient[0].cantidad}}</p>
  <h3>Empresa con menor cantidad de clientes</h3>
  <p>Nombre: {{maxMinClient[1].empresa}}</p>
  <p>Cantidad: {{maxMinClient[1].cantidad}}</p>
  <p>------------------------------------</p>
</div>
<div *ngFor="let empresa of empresas">
  <h3>Empresa</h3>
  <p>Id: {{empresa.idEmpresa}}</p>
  <p>Nombre: {{empresa.nombre}}</p>
  <p>Nit: {{empresa.nit}}</p>
  <p>------------------------------------</p>
</div>
