<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <div class="row">
          <div class="col-6">
            <div class="chart-container">
              <ngx-charts-pie-chart [scheme]="colorScheme" [results]="chartService" [legend]="showLegend"
                [gradient]="gradient" [labels]="showLabels" [doughnut]="isDoughnut" [legendTitle]="legendTitle">
              </ngx-charts-pie-chart>
            </div>
          </div>
          <div class="col-6">
            <div class="chart-container">
              <ngx-charts-pie-chart [scheme]="colorScheme" [results]="chartTypeService" [legend]="showLegend"
                [gradient]="gradient" [labels]="showLabels" [doughnut]="isDoughnut" [legendTitle]="legendType">
              </ngx-charts-pie-chart>
            </div>
          </div>
        </div>

        <div class="row mt-5">
          <!-- ADD BUTTON -->
          <div class="col-1">
            <div class="row">
              <button class="waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"
                data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" (click)="openModalByService()">
                <i class="mdi mdi-plus"></i>
              </button>
            </div>
          </div>
          <!-- /ADD BUTTON -->
          <!-- INPUT SEARCH -->
          <div class="col-10">
            <input type="text" class="form-control" name="filterName" placeholder="Buscador" [(ngModel)]="filter">
          </div>
          <!-- /INPUT SEARCH -->
        </div>
        <div class="row mt-5">
          <div class="col-1">
            <button class="btn btn-outline-primary" (click)="switchView()"
              *ngIf="viewCompletedService">Pendientes</button>
            <button class="btn btn-outline-primary mr-3" (click)="switchView()"
              *ngIf="!viewCompletedService">Completados</button>
          </div>
        </div>

        <!-- CARD UNCOMPLETED-->
        <div class="row mt-5" *ngIf="!viewCompletedService">
          <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let servicio of serviciosPendientes | filterService:filter">
            <div class="card card-outline-info" (click)="openModalByService(servicio)" data-toggle="modal"
              data-target="#exampleModal" data-whatever="@mdo">
              <div class="card-header bg-dark">
              </div>
              <div class="card-body border">
                <div class="row">
                  <div class="col-12">
                    <h3 class="card-title text-dark">
                      {{ servicio.Equipo.nombre + ' ' + servicio.Equipo.modelo  }}</h3>
                    <p class="card-title">
                      {{ servicio.Tipo_Servicio.tipo }}
                    </p>
                    <p class="card-title">Fase: {{ servicio.estado }}</p>
                    <p class="card-title">Creado: {{ servicio.fechaCreado | date:'yyyy-MM-dd hh-mm-ss aaa'}}</p>
                    <p class="card-title">Trabajador:
                      {{ servicio.Trabajador ? servicio.Trabajador.nombre + " " + servicio.Trabajador.apellidos : 'No ingresado'}}
                    </p>
                    <p class="card-title">Ejecutar:
                      {{ servicio.fechaHoraRealizar ? parseDate(servicio.fechaHoraRealizar) : "No ingresada" }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /CARD UNCOMPLETED-->

        <!-- CARD COMPLETED-->
        <div class="row mt-5" *ngIf="viewCompletedService">
          <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let servicio of serviciosCompletados | filterService:filter">
            <div class="card card-outline-info" (click)="openModalByService(servicio)" data-toggle="modal"
              data-target="#exampleModal" data-whatever="@mdo">
              <div class="card-header bg-dark">
              </div>
              <div class="card-body border">
                <div class="row">
                  <div class="col-12">
                    <h3 class="card-title text-dark">
                      {{ servicio.Equipo.nombre + ' ' + servicio.Equipo.modelo }}</h3>
                    <p class="card-title">
                      {{ servicio.Tipo_Servicio.tipo }}
                    </p>
                    <p class="card-title">Prioridad: {{ servicio.prioridad }}</p>
                    <p class="card-title">Fase: {{ servicio.estado }}</p>
                    <p class="card-title">Creado: {{ servicio.fechaCreado | date:'yyyy-MM-dd hh-mm-ss aaa'}}</p>
                    <p class="card-title">Trabajador:
                      {{ servicio.Trabajador ? servicio.Trabajador.nombre + " " + servicio.Trabajador.apellidos : 'No ingresado'}}
                    </p>
                    <p class="card-title">Ejecutar:
                      {{ servicio.fechaHoraRealizar ? parseDate(servicio.fechaHoraRealizar) : "No ingresada" }}</p>
                    <p class="card-title">Finalizado:
                      {{ servicio.fechaFinalizado ? parseDate(servicio.fechaFinalizado) : 'No ingresado' }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /CARD COMPLETED-->

        <!-- MODAL -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Servicio</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="serviceForm">
                  <div class="form-group">
                    <label for="recipient-name" class="control-label">Prioridad</label>
                    <select class="form-control custom-select" formControlName="prioridad">
                      <option *ngFor="let alter of prioridad" [value]="alter">
                        {{ alter }}</option>
                    </select>
                    <!-- <small *ngIf="!tiposervicio.idServicio" class="form-control-feedback">No ingresado *</small> -->
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="control-label">Tipo Servicio*</label>
                    <select class="form-control custom-select" formControlName="idTipoServicio">
                      <option *ngFor="let tiposervicio of tiposServicios" [value]="tiposervicio.idTipoServicio">
                        {{ tiposervicio.tipoServicio }}</option>
                    </select>
                    <!-- <small *ngIf="!tiposervicio.idServicio" class="form-control-feedback">No ingresado *</small> -->
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="control-label">Equipo</label>
                    <select class="form-control custom-select" formControlName="idEquipo">
                      <option *ngFor="let equipo of equipos" [value]="equipo.idEquipo">
                        {{ equipo.nombre }}</option>
                    </select>
                    <!-- <small *ngIf="!idEquipo" class="form-control-feedback">No ingresado *</small> -->
                  </div>

                  <div *ngIf="!newService">
                    <div class="form-group">
                      <label for="recipient-name" class="control-label">Fecha y hora de ejecución</label>
                      <input type="datetime-local" class="form-control" id="recipient-name1"
                        formControlName="fechaHoraRealizar">
                    </div>
                    <label for="message-text" class="control-label">Trabajador*</label>
                    <select class="form-control custom-select" formControlName="idTrabajador">
                      <option *ngFor="let trabajador of trabajadores" [value]="trabajador.idPersona">
                        {{ trabajador.nombre }}</option>
                    </select>
                  </div>

                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" *ngIf="!newService"
                  (click)="deleteServiceModal()">Eliminar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="newService"
                  (click)="createServiceForm()">Crear</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                  *ngIf="!newService && !viewCompletedService" (click)="createServiceForm()">Editar</button>
              </div>
            </div>
          </div>
        </div>
        <!-- /MODAL -->

      </div>
    </div>
  </div>
</div>

<!-- <div class="form-group">
  <label for="recipient-name" class="control-label">Número:</label>
  <input type="number" class="form-control" min="10000000" max="99999999" id="recipient-name1" formControlName="numero">
  <label for="recipient-name" class="control-label">Persona:</label>
  <select class="form-control custom-select" formControlName="idPersona">
    <option *ngFor="let servicio of servicios" [value]="persona.idPersona">
      {{ persona.nombre }}</option>
  </select>
  <small *ngIf="idPersona <= 0" class="form-control-feedback">No ingresado *</small>
  <br>
  <label for="recipient-name" class="control-label">Tipo Teléfono:</label>
  <select class="form-control custom-select" formControlName="idTipoTelefono">
    <option *ngFor="let tipoTelefono of tiposTelefonos" [value]="tipoTelefono.idTipoTelefono">
      {{ tipoTelefono.tipo }}</option>
  </select>
  <small *ngIf="idTipoTelefono <= 0" class="form-control-feedback">No ingresado *</small>
</div> -->
