<!-- <h1>Analisis en repuestos</h1>
<h3 *ngIf="loading">Cargando</h3>

<div>
  <input type="text" class="form-control" name="filterName" placeholder="Buscador" [(ngModel)]="filter">
</div>

<div *ngFor="let analisisRepuesto of analisisRepuestos | filterAnalysis:filter">
  <p>Id: {{analisisRepuesto.idAnalisisRepuesto}}</p>
  <p>Nombre de repuesto: {{analisisRepuesto.nombreRepuesto}}</p>
  <p>Tipo de repuesto: {{analisisRepuesto.nombreTipo}}</p>
  <p>Cantidad anterior: {{analisisRepuesto.cantidadAntes}}</p>
  <p>Cantidad despues: {{analisisRepuesto.cantidadDespues}}</p>
  <p>Sustracción de cantidades: {{analisisRepuesto.diferenciaCantidades}}</p>
  <p>Fecha y hora: {{analisisRepuesto.fechaHora}}</p>
  <p>Acción: {{analisisRepuesto.tipoAccion}}</p>
</div> -->

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <!-- INPUT SEARCH -->
        <div class="row">
          <div class="col-12">
            <input type="text" class="form-control" name="filterName" placeholder="Buscador" [(ngModel)]="filter">
          </div>
        </div>
        <!-- /INPUT SEARCH -->

        <!-- TABLE -->
        <div class="row mt-3">
          <div class="col-12">
            <table class="tablesaw table-striped table-hover table-bordered table" data-tablesaw-mode="columntoggle">
              <thead>
                <tr>
                  <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Acción</th>
                  <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="3">Repuesto</th>
                  <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Tipo</th>
                  <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">
                    <abbr title="Rotten Tomato Rating">Cantidades previas</abbr>
                  </th>
                  <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">Cantidades Actuales</th>
                  <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5">Diferencia</th>
                  <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="6"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let analisisRepuesto of analisisRepuestos | filterAnalysis:filter">
                  <td class="title"><a class="link" href="javascript:void(0)">{{ analisisRepuesto.tipoAccion }}</a></td>
                  <td>{{ analisisRepuesto.nombreRepuesto }}</td>
                  <td>{{ analisisRepuesto.nombreTipo }}</td>
                  <td>{{ analisisRepuesto.cantidadAntes }}</td>
                  <td>{{ analisisRepuesto.cantidadDespues }}</td>
                  <td>{{ analisisRepuesto.diferenciaCantidades }}</td>
                  <td data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" (click)="openModal(analisisRepuesto)"><i class="mdi mdi-chevron-right"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- /TABLE -->

        <!-- MODAL -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
          <div class="modal-dialog" role="document">
            <div class="modal-content">

              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Servicio</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>

              <div class="modal-body">
                <div class="row">
                  <div class="col-12">
                    <div style="display: grid;">
                      <ngx-charts-pie-chart
                        [scheme]="colorScheme"
                        [results]="chartData"
                        [gradient]="gradient"
                        [labels]="showLabels"
                        [doughnut]="isDoughnut"
                        >
                      </ngx-charts-pie-chart>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
              </div>

            </div>
          </div>
        </div>
        <!-- /MODAL -->
      </div>
    </div>
  </div>
</div>