<h1>Analisis en repuestos</h1>
<h3 *ngIf="loading">Cargando</h3>

<div *ngFor="let analisisRepuesto of analisisRepuestos">
  <p>Id: {{analisisRepuesto.idAnalisisRepuesto}}</p>
  <p>Nombre de repuesto: {{analisisRepuesto.nombreRepuesto}}</p>
  <p>Tipo de repuesto: {{analisisRepuesto.nombreTipo}}</p>
  <p>Cantidad anterior: {{analisisRepuesto.cantidadAntes}}</p>
  <p>Cantidad despues: {{analisisRepuesto.cantidadDespues}}</p>
  <p>Sustracción de cantidades: {{analisisRepuesto.diferenciaCantidades}}</p>
  <p>Fecha y hora: {{analisisRepuesto.fechaHora}}</p>
  <p>Acción: {{analisisRepuesto.tipoAccion}}</p>
</div>

<button (click)="getOneReplacementAnalysis(1)">Obtener</button>

<div *ngIf="analisisRepuesto">
  <p>Id: {{analisisRepuesto.idAnalisisRepuesto}}</p>
  <p>Nombre de repuesto: {{analisisRepuesto.nombreRepuesto}}</p>
  <p>Tipo de repuesto: {{analisisRepuesto.nombreTipo}}</p>
  <p>Cantidad anterior: {{analisisRepuesto.cantidadAntes}}</p>
  <p>Cantidad despues: {{analisisRepuesto.cantidadDespues}}</p>
  <p>Sustracción de cantidades: {{analisisRepuesto.diferenciaCantidades}}</p>
  <p>Fecha y hora: {{analisisRepuesto.fechaHora}}</p>
  <p>Acción: {{analisisRepuesto.tipoAccion}}</p>
</div>


