<div class="row">
  <div class="col-12">
    <div class="card padre">
      <div class="card-body" *ngIf="loading">
        <div class="row">
          <div class="col-12 text-center">
            <h1>TELÉFONOS</h1>
          </div>
        </div>
        <div class="row mt-3">
          <!-- ADD BUTTON -->
          <div class="col-1">
            <div class="row">
              <button
                class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"
                data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
                <i class="mdi mdi-plus"></i>
              </button>
            </div>
          </div>
          <!-- /ADD BUTTON -->
          <!-- INPUT SEARCH -->
          <div class="col-sm-12 col-md-12">
            <input type="text" class="form-control" name="filterName" placeholder="Buscador">
          </div>
          <!-- /INPUT SEARCH -->
        </div>
        <loader></loader>
      </div>
      <div class="card-body" *ngIf="!loading">

        <div class="row">
          <div class="col-12 text-center">
            <h1>TELÉFONOS</h1>
          </div>
        </div>
        <div class="row mt-2">
          <!-- ADD BUTTON -->
          <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"
            data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" (click)="openModalByPhone()">
            <i class="mdi mdi-plus"></i>
          </button>
          <!-- /ADD BUTTON -->
          <!-- INPUT SEARCH -->
          <div class="col-sm-12 col-md-12">
            <input type="text" class="form-control" name="filterName" placeholder="Buscador" [(ngModel)]="filter">
          </div>
          <!-- /INPUT SEARCH -->
        </div>
        <!-- CARD -->
        <div class="row mt-5">
          <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let telefono of telefonos | filterPhone:filter">
            <div class="card card-outline-info" (click)="openModalByPhone(telefono)" data-toggle="modal"
              data-target="#exampleModal" data-whatever="@mdo">
              <div class="card-header bg-dark">
              </div>
              <div class="card-body border">
                <div class="row">
                  <div class="col-10">
                    <h3 class="card-title text-dark">
                      {{ telefono.Persona.nombre + " " + telefono.Persona.apellidos }}</h3>
                    <p class="card-title">{{ telefono.Tipo_Telefono ? telefono.Tipo_Telefono.tipo : 'No ingresado' }}
                    </p>
                    <p class="card-title">{{ telefono.numero }}</p>
                  </div>
                  <div class="col-2 vh-100 d-flex justify-content-center align-items-center">
                    <i class="mdi mdi-phone"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /CARD -->
        </div>
        <!-- MODAL -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Teléfono</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="phoneForm">
                  <div class="form-group">
                    <label for="recipient-name" class="control-label">Número</label>
                    <input type="number" class="form-control" min="10000000" max="99999999" id="recipient-name1"
                      formControlName="numero">
                    <div *ngIf="numero?.invalid && numero?.touched">
                      <small *ngIf="numero?.hasError('required')" class="text-danger">*Número requerido</small>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="recipient-name" class="control-label">Persona</label>
                    <select class="form-control custom-select" formControlName="idPersona">
                      <option *ngFor="let persona of personas" [value]="persona.idPersona">
                        {{ persona.nombre }}</option>
                    </select>
                    <div *ngIf="persona?.invalid && persona?.touched">
                      <small *ngIf="persona?.hasError('required')" class="text-danger">*Persona requerida</small>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="recipient-name" class="control-label">Tipo Teléfono</label>
                    <select class="form-control custom-select" formControlName="idTipoTelefono">
                      <option *ngFor="let tipoTelefono of tiposTelefonos" [value]="tipoTelefono.idTipoTelefono">
                        {{ tipoTelefono.tipo }}</option>
                    </select>
                    <div *ngIf="tipo?.invalid && tipo?.touched">
                      <small *ngIf="tipo?.hasError('required')" class="text-danger">*Tipo teléfono requerido</small>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" *ngIf="!newPhone"
                  (click)="deletePhoneModal()">Eliminar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="newPhone"
                  (click)="createPhoneForm()">Crear</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="!newPhone"
                  (click)="createPhoneForm()">Editar</button>
              </div>
            </div>
          </div>
        </div>
        <!-- /MODAL -->

      </div>
    </div>
  </div>
</div>