
<h1>Telefonos</h1>
<h3 *ngIf="loading">Cargando</h3>
<!-- INPUT SEARCH -->
<div>
  <input type="text" class="form-control" name="filterName" placeholder="Buscador" [(ngModel)]="filter">
</div>
<div *ngFor="let telefono of telefonos | filterPhone:filter">
  <h3>Telefono</h3>
  <p>Id: {{telefono.idTelefono}}</p>
  <p>Numero: {{telefono.numero}}</p>
  <h4>Tipo Telefono</h4>
  <p>{{telefono.Tipo_Telefono ? 'Tipo: ' + telefono.Tipo_Telefono.tipo : 'No ingresado.'}}</p>
  <h4>Persona: {{telefono.idPersona}}</h4>
  <p>------------------------------------</p>
</div>
