<h1>Tipos Personas</h1>
<h3 *ngIf="loading">Cargando</h3>
<!-- INPUT SEARCH -->
<div>
  <input type="text" class="form-control" name="filterName" placeholder="Search" [(ngModel)]="filter">
</div>
<div *ngFor="let tipoPersona of tiposPersonas | filterTypePerson:filter">
  <h3>Tipo Persona</h3>
  <p>Id: {{tipoPersona.idTipoPersona}}</p>
  <p>Rol: {{tipoPersona.tipo}}</p>
  <h4>Empresa</h4>
  <p>{{tipoPersona.Empresa ? 'Nombre: ' + tipoPersona.Empresa.nombre : 'no ingresado.'}}</p>
  <p>------------------------------------</p>
</div>
