<div class="row">
  <div class="col-12">
    <div class="card padre">
      <div class="card-body">

        <div class="row">
          <div class="col-12 text-center">
            <h1>{{title}}</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-12 border">
            <div class="chart-container">
              <ngx-charts-pie-chart
                [scheme]="colorScheme"
                [results]="chartData"
                [gradient]="gradient"
                [legend]="showLegend"
                [labels]="showLabels"
                [doughnut]="isDoughnut"
                [legendTitle]="legendTitle"
                >
              </ngx-charts-pie-chart>
            </div>
          </div>
        </div>

        <!-- INPUT SEARCH -->
        <div class="row mt-3">
          <div class="col-sm-12 col-md-2">
            <button class="btn btn-outline-primary" (click)="switchView()"
            *ngIf="viewCompletedService">Pendientes</button>
            <button class="btn btn-outline-primary mr-3" (click)="switchView()"
            *ngIf="!viewCompletedService">Finalizados</button>
          </div>

          <div class="col-sm-12 col-md-10 button-padding">
            <input type="text" class="form-control" name="filterName" placeholder="Buscador" [(ngModel)]="filter">
          </div>
        </div>
        <!-- /INPUT SEARCH -->

        <!-- CARD UNCOMPLETED-->
        <div class="row mt-3" *ngIf="!viewCompletedService">
          <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let servicio of serviciosPendientes | filterService:filter">
            <div class="card card-outline-info" (click)="openModalByService(servicio)" data-toggle="modal"
              data-target="#exampleModal" data-whatever="@mdo">
              <div class="card-header bg-dark">
              </div>
              <div class="card-body border">
                <div class="row">
                  <div class="col-10">
                    <h3 class="card-title text-dark">
                      {{ servicio.nombre + ' ' + servicio.modelo }}</h3>
                    <p class="card-title">
                      {{ servicio.tipoServicio }}
                    </p>
                    <p class="card-title">Fase: {{ servicio.estado }}</p>
                    <p class="card-title">Creado: {{ servicio.fechaCreado | date:'yyyy-MM-dd hh-mm-ss aaa'}}</p>
                    <p class="card-title">Ejecutar:
                      {{ servicio.fechaHoraRealizar ? parseDate(servicio.fechaHoraRealizar) : "No ingresada" }}</p>
                  </div>
                  <div class="col-2 vh-100 d-flex justify-content-center align-items-center">
                    <i class="mdi mdi-wrench"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /CARD UNCOMPLETED-->

        <!-- CARD COMPLETED-->
        <div class="row mt-5" *ngIf="viewCompletedService">
          <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let servicio of serviciosCompletados | filterService:filter">
            <div class="card card-outline-info" (click)="openModalByService(servicio)" data-toggle="modal"
              data-target="#exampleModal" data-whatever="@mdo">
              <div class="card-header bg-dark">
              </div>
              <div class="card-body border">
                <div class="row">
                  <div class="col-10">
                    <h3 class="card-title text-dark">
                      {{ servicio.nombre + ' ' + servicio.modelo }}</h3>
                    <p class="card-title">
                      {{ servicio.tipoServicio }}
                    </p>
                    <p class="card-title">Prioridad: {{ servicio.prioridad }}</p>
                    <p class="card-title">Fase: {{ servicio.estado }}</p>
                    <p class="card-title">Creado: {{ servicio.fechaCreado | date:'yyyy-MM-dd hh-mm-ss aaa'}}</p>
                    <p class="card-title">Ejecutar:
                      {{ servicio.fechaHoraRealizar ? parseDate(servicio.fechaHoraRealizar) : "No ingresada" }}</p>
                    <p class="card-title">Finalizado:
                      {{ servicio.fechaFinalizado ? parseDate(servicio.fechaFinalizado) : 'No ingresado' }}</p>
                  </div>
                  <div class="col-2 vh-100 d-flex justify-content-center align-items-center">
                    <i class="mdi mdi-wrench"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /CARD COMPLETED-->

        <!-- MODAL -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Servicio</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <label for="recipient-name" class="control-label">Equipo</label>
                <input type="text" class="form-control" id="recipient-name1"
                  [value]="servicio ? servicio.nombre + ' ' + servicio.modelo : 'No ingresado'" readonly>
                <label for="recipient-name" class="control-label">Tipo Servicio</label>
                <input type="text" class="form-control" id="recipient-name1"
                  [value]="servicio ? servicio.tipoServicio : 'No ingresado'" readonly>
                <label for="recipient-name" class="control-label">Fecha y hora a realizar</label>
                <input type="text" class="form-control" id="recipient-name1"
                  [value]="servicio ? parseDate(servicio.fechaHoraRealizar, true) : 'No ingresado'" readonly>
                <label for="recipient-name" class="control-label">Ubicación</label>
                <input type="text" class="form-control" id="recipient-name1"
                  *ngIf="direccion?.Municipio?.Departamento?.Pais"
                  [value]="direccion?.Municipio?.Departamento?.Pais?.nombre + ', ' + direccion?.Municipio?.Departamento?.nombre "
                  readonly>
                <input type="text" class="form-control mt-3" id="recipient-name1" *ngIf="direccion?.Municipio"
                  [value]="direccion?.Municipio?.nombre + ' ' + direccion?.direccion " readonly>
                <div *ngIf="persona">
                  <label for="recipient-name" class="control-label">Cliente</label>
                  <input type="text" class="form-control" id="recipient-name1"
                    [value]="persona.nombre + ' ' + persona.apellidos" readonly>
                  <label for="recipient-name" class="control-label">Empresa</label>
                  <input type="text" class="form-control" id="recipient-name1"
                    [value]="persona.Tipo_Persona.Empresa?.nombre" readonly>
                </div>
                <form [formGroup]="serviceForm">
                  <div *ngIf="!newService">
                    <div class="form-group">
                      <label for="recipient-name" class="control-label">Fecha y hora finalizado</label>
                      <input type="datetime-local" class="form-control" id="recipient-name1"
                        *ngIf="!viewCompletedService" formControlName="fechaFinalizado">
                      <input type="text" class="form-control" id="recipient-name1" *ngIf="viewCompletedService"
                        [value]="servicio ? parseDate(servicio.fechaFinalizado, true) : 'No ingresado'" readonly>
                      <!-- <small *ngIf="!tiposervicio.idServicio" class="form-control-feedback">No ingresado *</small> -->
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                  *ngIf="!newService && !viewCompletedService" (click)="updateServiceForm()">Editar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                  *ngIf="viewCompletedService">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
        <!-- /MODAL -->

      </div>
    </div>
  </div>
</div>
