/* You can add global styles to this file, and also import other style files */
.padre {
    height: 85vh;
    overflow-y: scroll;
}

.button-padding {
    padding-left: 25px;
}

.scroll {
  overflow: hidden;
}
